/* ABOUT CSS */

/* ABOUT CSS */

/* ABOUT CSS */

body {
  height: 100vh;
}

.page {
  min-width: 100%;
  height: 100%;
}

/* ======= ABOUT ME ======= */
.page_aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.about {
  width: 100%;
  height: 100vh;
  top: 120px;
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about_title_name {
  font-family: NeueMachinaUltraBold;
  font-size: 8vw;
  line-height: 1.2em;
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about_title {
  font-size: 2vw;
  color: var(--color-bg2);
  margin-top: 2.5vw;
  font-family: NeueMachinaLight;
  line-height: 1.5em;
  /* text-align: center; */
}

.about_desc {
  margin-top: 2.8vw;
  font-family: NeueMachinaLight;
  color: var(--color-bg2);
  font-size: 1.2vw;
  line-height: 1.2em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-bg2);
  font-size: 1.2vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
/* ======= END ABOUT ME ======= */




/* ======= HEADER ======= */

/* .page_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  font-size: 8vw;
  background-image: var(--color-gradient);
  font-family: NeueMachinaUltraBold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  transition: var(--o-transition);
  -webkit-transition: var(--o-transition);
  -moz-transition: var(--o-transition);
  -ms-transition: var(--o-transition);
  -o-transition: var(--o-transition);
} */

/* .header_title_2 {
    font-size: 3.7vw;
    background-image: var(--color-gradient);
    font-family: NeueMachinaLight;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
} */

/* .button_container {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.scroll_information {
  color: var(--color-bg2);
  font-size: 1.5vw;
  font-family: NeueMachinaLight;
  opacity: 60%;
}

.uil-arrow-down {
  color: var(--color-bg2);
  opacity: 30%;
  animation: arrow-moving-right 1s ease-in-out infinite;
  font-size: 3vw;
  margin-left: 0.5vw;
  -webkit-animation: arrow-moving-right 1s ease-in-out infinite;
}

@keyframes arrow-moving-right {
  0%,
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }

  50% {
    transform: translate(0px, 8px);
    opacity: 100%;
    -webkit-transform: translate(0px, 8px);
    -moz-transform: translate(0px, 8px);
    -ms-transform: translate(0px, 8px);
    -o-transform: translate(0px, 8px);
  }
} */

/* ======= END HEADER ======= */

/* .btn_skill_container{
    margin-top: 1.5rem;
}

.btn_skill {
  color: var(--color-bg2);
  font-family: NeueMachinaLight;
  font-size: 1.3vw;
  max-width: 15vw;
  background: var(--color-bg1);
  padding-inline: 2vw;
  padding-block: 1vw;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid var(--color-bg2);
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn_skill:hover {
  box-shadow: 0.4rem 0.4rem 0 var(--color-bg2);
  transform: translate(-0.4rem, -0.4rem);
  cursor: pointer;
}

.btn_skill:active {
  box-shadow: 0 0 0 var(--color-bg2);
  transform: translate(0, 0);
} */
