/* ABOUT CSS */

/* ABOUT CSS */

/* ABOUT CSS */

body {
  height: 90vh;
  --light: hsl(220, 50%, 90%);
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --border-color: hsla(0, 0%, 100%, 0.2);
  --global-background: hsl(220, 25%, 10%);
  --background: linear-gradient(
    to right,
    hsl(210, 30%, 20%),
    hsl(255, 30%, 25%)
  );
  --shadow-1: hsla(236, 50%, 50%, 0.3);
  --shadow-2: hsla(236, 50%, 50%, 0.4);
}

.page {
  min-width: 100%;
  height: 100%;
  width: 80%;
}

/* ======= ABOUT ME ======= */
.page_aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.about {
  width: 100%;
  height: 100vh;
  top: 120px;
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.about_title_name {
  font-family: NeueMachinaUltraBold;
  font-size: 7rem;
  line-height: 1.2em;
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about_title {
  font-size: 2rem;
  color: var(--color-bg2);
  margin-top: 2rem;
  font-family: NeueMachinaLight;
  line-height: 1.5em;
  /* text-align: center; */
}

.about_desc {
  margin-top: 2.2rem;
  font-family: NeueMachinaLight;
  color: var(--color-bg2);
  font-size: 1.2rem;
  line-height: 1.2em;
}

/* == MODAL == */
a,
a:link {
  font-family: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

/* box */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  /* --m-background is set as inline style */
  background: var(--m-background);
}

/* using :target */
/*
when users will click/enter button(link) browser will add a #id in a url and when that happens we'll show our users the modal that contains that id.
*/
.modal-container:target {
  display: flex;
}

.modal {
  width: 60rem;
  padding: 4rem 2rem;
  border-radius: 0.8rem;
  margin-inline: 15px;

  color: var(--light);
  background: var(--background);
  box-shadow: var(--m-shadow, 0.4rem 0.4rem 10.2rem 0.2rem) var(--shadow-1);
  position: relative;

  overflow: hidden;
}

.modal__title {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.modal__text {
  padding: 0 4rem;
  margin-top: 4rem;

  font-size: 1.6rem;
  line-height: 2;
}

.modal__btn {
  margin-top: 4rem;
  padding: 1rem 1.6rem;
  border: 1px solid var(--border-color);
  border-radius: 100rem;
  color: inherit;
  background: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.modal__btn:nth-of-type(1) {
  margin-right: 1rem;
}

.modal__btn:hover,
.modal__btn:focus {
  background: var(--focus);
  border-color: var(--focus);
  transform: translateY(-0.2rem);
  -webkit-transform: translateY(-0.2rem);
  -moz-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  -o-transform: translateY(-0.2rem);
}

/* link-... */
.link-1 {
  font-size: 1.2rem;
  color: var(--light);
  background: var(--background);
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem var(--shadow-1);
  border-radius: 100rem;
  padding: 1.3rem 2.2rem;
  margin-top: 2rem;

  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.link-1:hover {
  box-shadow:
   0 0 4.4rem 0.2rem var(--shadow-2),
   0 0 0 0.4rem var(--global-background),
   0 0 0 0.5rem var(--color-bg2);
    
  transform: translateY(-0.2rem);
  -webkit-transform: translateY(-0.2rem);
  -moz-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  -o-transform: translateY(-0.2rem);
}

.link-2 {
  width: 4rem;
  height: 2.3rem;
  border: 1px solid var(--border-color);
  border-radius: 100rem;
  color: inherit;
  font-size: 2.2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.link-2::before {
  content: "×";

  transform: translateY(-0.1rem);
  -webkit-transform: translateY(-0.1rem);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem);
}

.link-2:hover,
.link-2:focus {
  color: #332D50;
  background: var(--light);
  border-color: var(--color-bg2);
  transform: translateY(-0.2rem);
  -webkit-transform: translateY(-0.2rem);
  -moz-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  -o-transform: translateY(-0.2rem);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 1000%, 0.6);
  font-size: 1.6rem;
}

.skills_wrapper{
  display: flex;
  flex-direction: column;
}

.details{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;
  border: 1px solid var(--light);
  border-radius: 20px;

}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: var(--light);
}

.skills:not(:last-child){
  margin-bottom: 30px;
}

#html-bar{
  animation: html-fill 2s forwards;
  -webkit-animation: html-fill 2s forwards;
}
@keyframes html-fill{
  100%{
      width: 75%;
  }
}

#ui-bar{
  animation: ui-fill 2s forwards;
  -webkit-animation: ui-fill 2s forwards;
}
@keyframes ui-fill{
  100%{
      width: 90%;
  }
}

#ux-bar{
  animation: ux-fill 2s forwards;
  -webkit-animation: ux-fill 2s forwards;
}
@keyframes ux-fill{
  100%{
      width: 78%;
  }
}

.Software_wrapper{
  margin-top: 3em;
}

#figma-bar{
  animation: figma-fill 2s forwards;
  -webkit-animation: figma-fill 2s forwards;
}
@keyframes figma-fill{
  100%{
      width: 98%;
  }
}

#vsc-bar{
  animation: vsc-fill 2s forwards;
  -webkit-animation: vsc-fill 2s forwards;
}
@keyframes vsc-fill{
  100%{
      width: 95%;
  }
}

#as-bar{
  animation: as-fill 2s forwards;
  -webkit-animation: as-fill 2s forwards;
}
@keyframes as-fill{
  100%{
      width: 90%;
  }
}
/* == END MODAL ==*/

/* ======= END ABOUT ME ======= */