/* EXPERIENCES CSS */

/* EXPERIENCES CSS */

/* EXPERIENCES CSS */

/* ======= VARIABLE ======= */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.body{
  overflow: none;
}

.container {
  margin-top: 85px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #111;
}

.page_title {
  font-size: 8vw;
  background-image: var(--color-gradient);
  font-family: NeueMachinaUltraBold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  margin-bottom: 120px;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: var(--o-transition);
  -webkit-transition: var(--o-transition);
  -moz-transition: var(--o-transition);
  -ms-transition: var(--o-transition);
  -o-transition: var(--o-transition);
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: NeueMachinaRegular;
  text-transform: capitalize;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  margin-top: 15px;
  font-family: NeueMachinaLight;
  text-transform: capitalize;
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: NeueMachinaLight;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: rgb(85, 85, 85);
  }

  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(85, 85, 85);
    top: 0px;
    transition: var(--o-transition);
    -webkit-transition: var(--o-transition);
    -moz-transition: var(--o-transition);
    -ms-transition: var(--o-transition);
    -o-transition: var(--o-transition);
  }

  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
  }

  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .timeline-content .date {
    position: absolute;
    top: -30px;
  }

  .timeline ul li:hover::before {
    background-color: var(--color-bg2);
  }

  .timeline ul li:hover {
    background-color: var(--color-bg1);
  }
}