/* INDEX CSS */

/* INDEX CSS */

/* INDEX CSS */


/* ======= VARIABLE ======= */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* ======= HEADER CONTENT ======= */
header {
    height: 100vh;
    display: flex;
}




/* **** TEXT **** */
.header_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
}

.header_title {
    font-size: 2.1rem;
    color: var(--color-bg2);
    font-family: NeueMachinaLight;
    line-height: 1.8em;
}

.header_title_span {
    font-family: NeueMachinaLight;
    font-size: 7rem;
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Typed Cursor */
.typed-cursor{
    font-family: NeueMachinaLight;
    font-size: 7rem;
    color: var(--color-bg2);
}

@media only screen and (max-width: 945px) {

    .header_title{
        font-size: 2rem;
    }

    .header_title_span{
        font-size: 6.3rem;
    }

    .typed-cursor{
        font-size: 6.3rem;
    }
    
}

@media only screen and (max-width: 680px) {

    .header_content {
        margin-left: 3rem;
    }

    .header_title{
        font-size: 1.3rem;
    }

    .header_title_span{
        font-size: 4.3rem;
    }

    .typed-cursor{
        font-size: 4.3rem;
    }
    
}

@media only screen and (max-width: 480px) {

    .header_content {
        margin-left: 2rem;
    }

    .header_title{
        font-size: 1.07rem;
    }

    .header_title_span{
        font-size: 3.4rem;
    }

    .typed-cursor{
        font-size: 3.4rem;
    }
    
}

@media only screen and (max-width: 360px) {

    .header_content {
        margin-left: 1.3rem;
    }

    .header_title{
        font-size: 0.9rem;
    }

    .header_title_span{
        font-size: 2.8rem;
    }

    .typed-cursor{
        font-size: 2.8rem;
    }
    
}
/* **** END TEXT **** */



/* **** SOSMED ICONS **** */
.sosmed_icons{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
}

.icon i{
    border: 1px solid var(--color-bg2);
    color: var(--color-bg2);
    padding-left: 0.7rem;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.6rem;
    border-radius: 100%;
    font-size: 1.5em;
    margin-right: 0.6rem;
    transition: var(--o-transition);
    -webkit-transition: var(--o-transition);
    -moz-transition: var(--o-transition);
    -ms-transition: var(--o-transition);
    -o-transition: var(--o-transition);
}

.icon i:hover{
    color: var(--color-bg1);
    background-color: var(--color-bg2);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--o-transition);
    -webkit-transition: var(--o-transition);
    -moz-transition: var(--o-transition);
    -ms-transition: var(--o-transition);
    -o-transition: var(--o-transition);
}

@media only screen and (max-width: 680px) {

    .sosmed_icons{
        margin-top: 1.5rem;
    }

    .icon i {
            padding-left: 0.7rem;
            padding-top: 0.7rem;
            padding-right: 0.7rem;
            padding-bottom: 0.6rem;
            font-size: 1.2em;
    }

}

@media only screen and (max-width: 480px) {

    .sosmed_icons{
        margin-top: 1.3rem;
    }

    .icon i {
            padding-left: 0.6rem;
            padding-top: 0.6rem;
            padding-right: 0.6rem;
            padding-bottom: 0.5rem;
            font-size: 1.1em;
    }

}

@media only screen and (max-width: 360px) {

    .sosmed_icons{
        margin-top: 1rem;
    }

    .icon i {
            padding-left: 0.5rem;
            padding-top: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0.4rem;
            font-size: 0.8em;
    }

}
/* **** END SOSMED ICONS **** */




/* **** BUTTON **** */
.btn_seemyworks_container{
    margin-top: 2rem;
}

.btn_seemyworks {
    position: absolute;
    font-size: 1.3rem;
    color: var(--color-bg2);
    border: 1px solid var(--color-bg2);
    font-family: NeueMachinaLight;
    border-radius: 20rem;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    transition: var(--o-transition);
    -webkit-transition: var(--o-transition);
    -moz-transition: var(--o-transition);
    -ms-transition: var(--o-transition);
    -o-transition: var(--o-transition);
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
}


.btn_seemyworks:hover {
    letter-spacing: 0.2rem;
    box-shadow: 0px 0px 25px var(--color-bg2);
}

@media only screen and (max-width: 680px) {

    .btn_seemyworks_container{
        margin-top: 2rem;
    }

    .btn_seemyworks {
            padding-inline: 1.2rem;
            padding-block: 1rem;
            font-size: 1rem;
    }

}

@media only screen and (max-width: 480px) {

    .btn_seemyworks_container{
        margin-top: 2rem;
    }

    .btn_seemyworks {
            padding-inline: 1rem;
            padding-block: 0.8rem;
            font-size: 0.8rem;
    }

}

@media only screen and (max-width: 360px) {

    .btn_seemyworks_container{
        margin-top: 1.4rem;
    }

    .btn_seemyworks {
            padding-inline: 0.8rem;
            padding-block: 0.7rem;
            font-size: 0.7rem;
    }

}

/* **** END BUTTON **** */




/* **** IMAGE **** */
.header-img {
    position: absolute;
    right: 13vw;
    bottom: 0;
}

.img_zaki{
    height: 78vh;
    background-position: center center;
    transition: var(--o-transition);
    -webkit-transition: var(--o-transition);
    -moz-transition: var(--o-transition);
    -ms-transition: var(--o-transition);
    -o-transition: var(--o-transition);
}

.img_zaki:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    filter: drop-shadow(0px 0px 40px var(--color-bg2));
    -webkit-filter: drop-shadow(0px 0px 40px var(--color-bg2));
}

@media only screen and (max-width: 1366px) {

    .header-img{
        right: 4vw;
    }
    
}

@media only screen and (max-width: 1023px) {

    .header-img{
        display: none;
    }
    
}
/* **** END IMAGE **** */

/* ======= END HEADER CONTENT ======= */


/* (480px, 768px, 1024px, and 1280px) */