/* INDEX CSS */

/* INDEX CSS */

/* INDEX CSS */


/* ======= VARIABLE ======= */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* ======= HEADER CONTENT ======= */
header {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.header_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
}

.header_title {
    font-size: 2.3rem;
    color: var(--color-bg2);
    font-family: NeueMachinaLight;
    line-height: 1.8em;
}

.header_title_span {
    font-family: NeueMachinaLight;
    font-size: 8rem;
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* == SOSMED ICONS == */

.sosmed_icons{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
}

.uil{
    border: 1px solid var(--color-bg2);
    color: var(--color-bg2);
    padding-left: 0.7rem;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.6rem;
    border-radius: 100%;
    font-size: 1.5em;
    margin-right: 0.6rem;
    transition: var(--o-transition);
    -webkit-transition: var(--o-transition);
    -moz-transition: var(--o-transition);
    -ms-transition: var(--o-transition);
    -o-transition: var(--o-transition);
}

.uil:hover{
    color: var(--color-bg1);
    background-color: var(--color-bg2);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--o-transition);
    -webkit-transition: var(--o-transition);
    -moz-transition: var(--o-transition);
    -ms-transition: var(--o-transition);
    -o-transition: var(--o-transition);
}
/* == END SOSMED ICONS == */

.btn_seemyworks_container{
    margin-top: 2rem;
}

.btn_seemyworks {
    position: absolute;
    font-size: 1.3rem;
    color: var(--color-bg2);
    border: 1px solid var(--color-bg2);
    font-family: NeueMachinaLight;
    border-radius: 20rem;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    transition: var(--o-transition);
    -webkit-transition: var(--o-transition);
    -moz-transition: var(--o-transition);
    -ms-transition: var(--o-transition);
    -o-transition: var(--o-transition);
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
}


.btn_seemyworks:hover {
    letter-spacing: 0.2rem;
    box-shadow: 0px 0px 25px var(--color-bg2);
}

.header-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img_zaki{
    height: 78vh;
    background-position: center center;
    transition: var(--o-transition);
    -webkit-transition: var(--o-transition);
    -moz-transition: var(--o-transition);
    -ms-transition: var(--o-transition);
    -o-transition: var(--o-transition);
}

.img_zaki:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    filter: drop-shadow(0px 0px 40px var(--color-bg2));
    -webkit-filter: drop-shadow(0px 0px 40px var(--color-bg2));
}
/* ======= END HEADER CONTENT ======= */